<settings>
    <category label="30051">
        <setting id="sortwxf" type="enum" lvalues="30012|30013|30014" label="30011" default="0"/>
        <setting id="sortxt" type="enum" lvalues="30022|30023|30024|30025" label="30021" default="0"/>
        <setting id="customview" label="30008" type="bool" default="false" />
        <setting id="m3u8_use_ia" label="30016" type="bool" default="false" />
        <setting id="paradisehill" label="30004" type="bool" default="false" />
        <setting type="lsep" label="33030" />
        <setting id="posterfanart" label="30005" type="bool" default="false" />
        <setting id="portrait_fanart_extras" label="33028" type="bool" default="true" enable="eq(-1,true)" />
        <setting id="portrait_fanart_mode" label="33031" type="enum" lvalues="33032|33033|33034" default="0" enable="eq(-1,true)+eq(-2,true)" />
        <setting id="portrait_fanart_pan_duration" label="33035" type="slider" default="20" range="6,2,60" option="int" enable="eq(-1,2)+eq(-2,true)+eq(-3,true)" />
        <setting id="landscape_fanart_mode" label="33036" type="enum" lvalues="33037|33038|33039" default="0" enable="eq(-4,true)" />
        <setting id="quality_in_name" label="30009" type="bool" default="true" />
        <setting id="duration_in_name" label="30010" type="bool" default="true" />
        <setting id="download_path" type="folder" source="video" label="30052"  option="writeable" default=""/>
        <setting id="setpin" type="action" label="30028" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=pin.SetPin)" />
        <setting id="content" type="enum" label="30500" lvalues="30501|30502" default="0" />
    </category>
    <category label="33100">
        <setting type="lsep" label="33100" />
        <setting id="global_search_sort" type="enum" lvalues="33109|33110|33111|33112" label="33108" default="0"/>
        <setting id="global_search_timeout" type="slider" label="33101" default="12" range="5,1,30" option="int" />
        <setting id="global_search_concurrency" type="slider" label="33102" default="6" range="1,1,12" option="int" />
        <setting id="global_search_max_sites" type="slider" label="33103" default="30" range="5,5,150" option="int" />
        <setting id="global_search_max_per_site" type="slider" label="33104" default="24" range="5,1,50" option="int" />
        <setting id="global_search_webcams" type="bool" label="33105" default="false" />
        <setting id="global_search_exclude" type="text" label="33106" default=""/>
        <setting id="global_search_include" type="text" label="33107" default=""/>
        <setting id="global_search_enabled_only" type="bool" label="33113" default="true" />
    </category>
    <category label="30065">
        <setting type="lsep" label="30029" />
        <setting id="clear_cache" label="33011" type="action" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=utils.clear_cache)"/>
        <setting id="cache_time" label="30030" type="slider" default="4" range="1,1,8" option="int" />
        <setting type="lsep" label="30031" />
        <setting id="clear_cookies" label="30032" type="action" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=utils.clear_cookies)"/>
    </category>
    <category label="30053">
        <setting id="qualityask" type="enum" label="30001" lvalues="30401|30402|30403|30404|30405" default="0" />
        <setting id="dontask" label="30002" type="bool" default="false" />
        <setting id="universal_resolvers" label="30026" type="bool" default="true" />
        <setting id="open_smr_settings" type="action" label="30027" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=main.smrSettings)" />
    </category>
    <category label="30054">
        <setting id="chaturbate" label="30003" type="bool" default="false" />
        <setting type="lsep" label="30110" />
        <setting id="chatfemale" type="bool" label="30111" default="true" />
        <setting id="chatmale" type="bool" label="30112" default="true" />
        <setting id="chatcouple" type="bool" label="30113" default="true" />
        <setting id="chattrans" type="bool" label="30114" default="true" />
        <setting type="lsep" label="30055" />
        <setting id="chatplay" type="enum" label="30100" lvalues="30101|30103" default="0" />
    </category>
    <category label="30059">
        <setting id="compressbackup" label="30200" type="bool" default="true" />
        <setting type="lsep" label="30060" />
        <setting id="item.limit" label="33027" type="slider" default="0" range="0,5,200" option="int" />
        <setting id="custom_favorites" label="30214" type="bool" default="false" />
        <setting id="favorites_path" enable="eq(-1,true)" type="folder" source="" label="30215"  option="writeable" default=""/>
        <setting id="backup_favorites" type="action" label="30201" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.backup_fav)" />
        <setting id="restore_favorites" type="action" label="30202" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.restore_fav)" />
        <setting id="clear_favorites" type="action" label="30203" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.clear_fav)" />
        <setting type="lsep" label="30061" />
        <setting id="backup_keywords" type="action" label="30211" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=utils.backup_keywords)" />
        <setting id="restore_keywords" type="action" label="30212" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=utils.restore_keywords)" />
        <setting id="clear_keywords" type="action" label="30213" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=utils.delallKeyword)" />
    </category>
    <category label="30062">
        <setting id="custom_sites" label="30301" type="bool" default="false" />
        <setting id="list_custom_sites" type="action" label="30306" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.list_custom_sites)" />
        <setting type="lsep" label="30063" />
        <setting id="enable_custom_site" type="action" label="30304" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.enable_custom_site)" />
        <setting id="disable_custom_site" type="action" label="30305" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.disable_custom_site)" />
        <setting id="enable_all_custom_sites" type="action" label="30307" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.enable_all_custom_sites)" />
        <setting id="disable_all_custom_sites" type="action" label="30308" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.disable_all_custom_sites)" />
        <setting type="lsep" label="30064" />
        <setting id="install_custom_site" type="action" label="30302" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.install_custom_site)" />
        <setting id="uninstall_custom_site" type="action" label="30303" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.uninstall_custom_site)" />
        <setting id="install_custom_sites_from_folder" type="action" label="30309" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=favorites.install_custom_sites_from_folder)" />
    </category>
    <category label="33015">
        <setting type="lsep" label="33016" />
        <setting id="filter_listing" label="33017" type="text" default=""/>
        <setting id="filter_hosters" label="33018" type="text" default=""/>
        <setting type="lsep" label="33019" />
        <setting id="enh_debug" type="bool" label="33021" default="true" />
        <setting id="debuglog" type="action" label="30017" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=utils.ToggleDebug)" />
        <setting id="startlog" type="action" label="33020" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=main.openLogUploader)" />
        <setting type="lsep" label="33024" />
        <setting id="fs_enable" type="bool" label="33022" default="false" />
        <setting id="fs_host" enable="eq(-1,true)" type="text" label="33023" default="http://localhost:8191/v1"/>
        <setting type="lsep" label="33025" />
        <setting id="sessionid" type="text" label="33026" default=""/>
    </category>
    <category label="33200">
        <setting type="lsep" label="33200" />
        <setting id="sites_choose" type="action" label="33201" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=siteflags.choose_enabled)" />
        <setting id="sites_enable_all" type="action" label="33202" enable="true" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=siteflags.enable_all)" />
        <setting id="sites_disable_all" type="action" label="33203" enable="true" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=siteflags.disable_all)" />
        <setting id="sites_disable_webcams" type="action" label="33204" enable="true" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=siteflags.disable_webcams)" />
        <setting id="sites_status" type="text" label="33205" default="All sites enabled" enable="false" />
    </category>
    <category label="33210">
        <setting type="lsep" label="33211" />
        <setting id="precache_choose" type="action" label="33212" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=precache.choose_sites)" />
        <setting id="precache_sync_enabled" type="action" label="33213" enable="true" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=precache.sync_enabled)" />
        <setting id="precache_depth" type="slider" label="33214" default="2" range="1,1,4" option="int" />
        <setting id="precache_max_items" type="slider" label="33215" default="2500" range="0,100,10000" option="int" />
        <setting id="precache_max_mb" type="slider" label="33216" default="400" range="0,50,2000" option="int" />
        <setting id="precache_concurrency" type="slider" label="33217" default="4" range="1,1,8" option="int" />
        <setting id="precache_now" type="action" label="33218" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=precache.start)" />
        <setting id="precache_stop" type="action" label="33219" enable="true" action="RunPlugin(plugin://plugin.video.cumination.andrew/?mode=precache.stop)" />
        <setting id="precache_status" type="text" label="33220" default="Never run" enable="false" />
    </category>
</settings>
